h2 {
    font-family: system-ui;
    font-size: 8em;
    text-align: center;
    font-weight: bold;
}
article {
    background: linear-gradient(
      to right, 
      hsl(98 100% 62%), 
      hsl(204 100% 59%)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-top: 20%;
    transition: margin-top 330ms ease-in-out;
}

.aa{
    display:flex;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(52, 215, 109);
    border-radius: 20px;
  }
  
  li {
    list-style-type: none;
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    
  }
  
  li a:hover {
    color:rgb(52, 215, 109);
    background-color: white;
  }

  .home{
    margin-top: 20%;
  }
  
  .noticias{
    margin-top: 10%;
  }