<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <article id="article">
        <a href="/"> <p class="titulo">{{text}}</p> </a>
    </article>
    <div class="searchbar">
            <input type="text" placeholder="  &#xF002; " id="myInput" style="font-family:Arial, FontAwesome" />
            <button id="myBtn" style="display:none" onclick="show()"></button>
    </div>
    <div class="searched" id="searched">
        <p id="texto">Noticias relacionadas sobre: </p>
    </div>
    <div class="news" id="news">
        <div class="articulo" alt="Ver Más" id="img0" style="cursor: pointer;" ></div>
        <div class="articulo" id="img1"style="cursor: pointer;"></div>
        <div class="articulo" id="img2"style="cursor: pointer;"></div>
        <div class="articulo" id="img3"style="cursor: pointer;"></div>
        <div class="articulo" id="img4"style="cursor: pointer;"></div>
        <div class="articulo" id="img5"style="cursor: pointer;"></div>
        <div class="articulo" id="img6"style="cursor: pointer;"></div>
        <div class="articulo" id="img7"style="cursor: pointer;"></div>
        <div class="articulo" id="img8"style="cursor: pointer;"></div>
        <div class="articulo" id="img9"style="cursor: pointer;"></div>
        <div class="articulo" id="img10"style="cursor: pointer;"></div>
        <div class="articulo" id="img11"style="cursor: pointer;"></div>
        <div class="articulo" id="img12"style="cursor: pointer;"></div>
        <div class="articulo" id="img13"style="cursor: pointer;"></div>
        <div class="articulo" id="img14"style="cursor: pointer;"></div>
        <div class="articulo" id="img15"style="cursor: pointer;"></div>
        <div class="articulo" id="img16"style="cursor: pointer;"></div>
        <div class="articulo" id="img17"style="cursor: pointer;"></div>
        <div class="articulo" id="img18"style="cursor: pointer;"></div>
        <div class="articulo" id="img19"style="cursor: pointer;"></div>
        <div class="articulo" id="img20"style="cursor: pointer;"></div>
        <div class="articulo" id="img21"style="cursor: pointer;"></div>
        <div class="articulo" id="img22"style="cursor: pointer;"></div>
        <div class="articulo" id="img23"style="cursor: pointer;"></div>
        <div class="articulo" id="img24"style="cursor: pointer;"></div>
        <div class="articulo" id="img25"style="cursor: pointer;"></div>
        <div class="articulo" id="img26"style="cursor: pointer;"></div>
        <div class="articulo" id="img27"style="cursor: pointer;"></div>
        <div class="articulo" id="img28"style="cursor: pointer;"></div>
        <div class="articulo" id="img29"style="cursor: pointer;"></div>
        <div class="articulo" id="img30"style="cursor: pointer;"></div>
        <div class="articulo" id="img31"style="cursor: pointer;"></div>
        <div class="articulo" id="img32"style="cursor: pointer;"></div>
        <div class="articulo" id="img33"style="cursor: pointer;"></div>
        <div class="articulo" id="img34"style="cursor: pointer;"></div>
        <div class="articulo" id="img35"style="cursor: pointer;"></div>
        <div class="articulo" id="img36"style="cursor: pointer;"></div>
        <div class="articulo" id="img37"style="cursor: pointer;"></div>
        <div class="articulo" id="img38"style="cursor: pointer;"></div>
        <div class="articulo" id="img39"style="cursor: pointer;"></div>
        <div class="articulo" id="img40"style="cursor: pointer;"></div>
        <div class="articulo" id="img41"style="cursor: pointer;"></div>
        <div class="articulo" id="img42"style="cursor: pointer;"></div>
        <div class="articulo" id="img43"style="cursor: pointer;"></div>
        <div class="articulo" id="img44"style="cursor: pointer;"></div>
        <div class="articulo" id="img45"style="cursor: pointer;"></div>
        <div class="articulo" id="img46"style="cursor: pointer;"></div>
        <div class="articulo" id="img47"style="cursor: pointer;"></div>
        <div class="articulo" id="img48"style="cursor: pointer;"></div>
        <div class="articulo" id="img49"style="cursor: pointer;"></div>
        <div class="articulo" id="img50"style="cursor: pointer;"></div>
        <div class="articulo" id="img51"style="cursor: pointer;"></div>
        <div class="articulo" id="img52"style="cursor: pointer;"></div>
        <div class="articulo" id="img53"style="cursor: pointer;"></div>
        <div class="articulo" id="img54"style="cursor: pointer;"></div>
        <div class="articulo" id="img55"style="cursor: pointer;"></div>
        <div class="articulo" id="img56"style="cursor: pointer;"></div>
        <div class="articulo" id="img57"style="cursor: pointer;"></div>
        <div class="articulo" id="img58"style="cursor: pointer;"></div>
        <div class="articulo" id="img59"style="cursor: pointer;"></div>

    </div>
    <footer tabindex="-1" id="SITE_FOOTER_WRAPPER"><div id="SITE_FOOTER" class="ZW5SX" tabindex="-1"><div class="_2o25M"><div class="_1nRb9"></div></div><div class="_38XI2"><div class="_2P6JN"><div class="_1dlfY"></div></div><div class="_1_UPn"><div data-mesh-id="SITE_FOOTERinlineContent" data-testid="inline-content" class=""><div data-mesh-id="SITE_FOOTERinlineContent-gridContainer" data-testid="mesh-container-content"><div id="comp-l6vqdg0z" class="_2Hij5 _3bcaz" data-testid="richTextElement"><h2 class="font_2" style="font-size:20px; line-height:normal; text-align:center;"><span style="font-family:system-ui,sans-serif;"><span class="color_11"><span style="letter-spacing:0.03em;"><span style="font-size:20px;"><a href="https://www.linkedin.com/in/nunezp20/" target="_blank" rel="noreferrer noopener">© 2022 Copyright IS721596</a> |&nbsp;</span></span></span><a href="http://ennzu.com" target="_blank" rel="noreferrer noopener"><span style="font-family:system-ui,sans-serif;"><span class="color_11"><span style="letter-spacing:0.03em;"><span style="font-size:20px;">Developed with </span></span></span><span style="color:#FF0000;"><span style="letter-spacing:0.03em;"><span style="font-size:20px;">❤</span></span></span><span class="color_11"><span style="letter-spacing:0.03em;"><span style="font-size:20px;"> by ennzu </span></span></span><span style="color:#3D9BE9;"><span style="letter-spacing:0.03em;"><span style="font-size:20px;">⧫</span></span></span></span></a></span></h2></div></div></div></div></div></div></footer>
</body>
</html>