a{
    cursor: pointer;
}

.panel{
    > div{
        float:left;
        width: 50%;
        box-sizing: border-box;

        &:first-child{
        }
    }
    
    
    &::after{
        content: "";
        display:table;
        clear:both;
    }
    
}

.derecha{
    text-align: center;
    padding-left: 15px;
}

.active{
    background-color: rgb(52, 215, 109);
}