<form (submit)="buscar(target)" class="searchbar" >
  <input type="text" name="Texto" placeholder="  &#xF002; " id="myInput" style="font-family:Arial, FontAwesome"[(ngModel)]="search">
  <button  [disabled] = "!search" class="haid"></button>
</form>


<h2 #target class="buscado" id="new"> <p *ngIf="resultados">Resultados de: {{lastSearch | myUpperCase}} </p></h2>
<div *ngIf="resultados" class="panel">
  <div>
    <ul>
      <li [ngClass]="{'active': current == elemento}" *ngFor="let elemento of noticias">
        <!-- <input (click)="actualizarFavoritos(elemento.favorito)" type="checkbox" checked [(ngModel)] = "elemento.favorito"> -->
        <a (click)="selectNoticia(elemento)" [routerLink]="elemento.title">{{elemento.title}}</a>
      </li>
    </ul>
  </div>
  <div class="derecha">
    <app-noticia-details [item]="current" (onClear)="clearCurrent"></app-noticia-details>
  </div>
</div>


